<div class="auth-content">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <img src="assets/img/loginImg.png" alt="">
    </div>
    <div class="col-lg-6 col-sm-6">
      <h4 class="text-center mb-4">LOGIN</h4>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="text-field">
            <input type="text" formControlName="email" id="email" placeholder="Enter your email" />
            <span></span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="text-field">
            <input type="password" formControlName="password" id="password" placeholder="Enter your password" />
            <span></span>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between">
          <div class="custom-control custom-checkbox float-left">
            <input type="checkbox" class="custom-control-input" id="customCheck" name="rememberMe">
            <label class="custom-control-label" for="customCheck">Remember me</label>
          </div>
          <a class="forgotLink float-right">Forgot password</a>
        </div>
        <div class="form-group text-center d-flex justify-content-center">
            <button class="btn btn-primary">Đăng nhập</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary">Đăng ký</button>
        </div>
      </form>
      <hr>
      <div class="icon-social">

      </div>
    </div>
  </div>
</div>
