<div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-fashion_113854663.jpg" style="height:40rem;"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-quang-cao-thoi-trang_113855538.jpg" style="height:40rem;"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-dep-nhat-hien-nay_113856288.jpg" style="height:40rem;"></ng-template>
</owl-carousel-o>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="text-center">
        <i class="fas fa-truck fa-3x my-3 text-primary"></i>
        <h6>FAST FREE DELIVERY</h6>
        <p>Contrary popular belief Lorem Ipsu not simply random tex</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center">
        <i class="fas fa-comment fa-3x my-3 text-primary"></i>
        <h6>ONLINE 24/7 SUPPORTS</h6>
        <p>Contrary popular belief Lorem Ipsu not simply random tex</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="text-center">
        <i class="fas fa-money-check-alt fa-3x my-3 text-primary"></i>
        <h6>100% SECURE PAYMENT</h6>
        <p>Contrary popular belief Lorem Ipsu not simply random tex</p>
      </div>
    </div>
  </div> 
</div>
<div class="section">

</div>
<div class="section container my-5">
  <div class="heading-title my-4">
    <div class="text-center">
      <h4>BEST SELLER</h4>
      <hr>
    </div>    
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-product text-center">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="btn-item-group row mx-0">
            <button class="btn btn-light col-6">
              <ngb-rating [rate]="5"></ngb-rating>
            </button>
            <a class="btn btn-primary col-6">Add to card</a>
          </div>
          <div class="btn-item-icon">
            <ul>
              <li><button class="btn-circle mb-2"><i class="fas fa-eye text-primary"></i></button></li>
              <li><button class="btn-circle"><i class="fas fa-heart text-primary"></i></button></li>
            </ul>
          </div>
        </div>
        <div class="card-title mt-3">
          <a href="#" class="stretched-link">
            <h6>Sweet Heart Printed Maxi Dress</h6>
          </a>
          <p>$11.95</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right"><a href="" class="btn btn-outline-primary mt-2">View More <i class="fas fa-long-arrow-alt-right"></i></a></div>
</div>
<div class="section-banner container-fluid my-5 mx-0 row">
  <div class="col-6">
    <img src="assets/img/Limas (1).gif" style="width: 100%">
  </div>
  <div class="col-6">
    <img src="assets/img/Limas (4).gif" style="width: 100%">
  </div>
</div>
<div class="section container my-5">
  <div class="heading-title my-4">
    <div class="text-center">
      <h4>NEWS</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-blog">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="overlay-item"></div>
          <h5>How To Use Tanks To Improve Your Style</h5>
          <a class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-blog">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="overlay-item"></div>
          <h5>How To Use Tanks To Improve Your Style</h5>
          <a class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-blog">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="overlay-item"></div>
          <h5>How To Use Tanks To Improve Your Style</h5>
          <a class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
      <div class="card-blog">
        <div class="card-item">
          <img class="card-img-top" src="assets/img/productImg.png" width="100%">
          <div class="overlay-item"></div>
          <h5>How To Use Tanks To Improve Your Style</h5>
          <a class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right"><a href="" class="btn btn-outline-primary mt-2">View More <i class="fas fa-long-arrow-alt-right"></i></a></div>
</div>
