<footer>
  <div class="container">
    <div class="footer-content">
      <hr>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a class="navbar-brand" [routerLink]="'/home'">Li<span>ma</span>s</a>
          <p>Limas is a super cute shop for trendy fashionistas. In Limas constantly updating the hottest fashion trends
            today</p>
          <ul class="icon-social">
            <li><a [routerLink]="['/.']"><i class="fab fa-facebook"></i></a></li>
            <li><a [routerLink]="['/.']"><i class="fab fa-instagram"></i></a></li>
            <li><a [routerLink]="['/.']"><i class="fab fa-twitter"></i></a></li>
            <li><a [routerLink]="['/.']"><i class="fab fa-pinterest"></i></a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6 mt-4">
          <ul class="footer-link ">
            <h5>Help</h5>
            <li><a [routerLink]="['/.']">FAQs</a></li>
            <li><a [routerLink]="['/.']">Delivery</a></li>
            <li><a [routerLink]="['/.']">Payment</a></li>
            <li><a [routerLink]="['/.']">Return</a></li>
            <li><a [routerLink]="['/.']">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-4">
          <ul class="footer-link ">
            <h5>Quick link</h5>
            <li><a [routerLink]="['/.']">My account</a></li>
            <li><a [routerLink]="['/.']">Delivery</a></li>
            <li><a [routerLink]="['/.']">Payment</a></li>
            <li><a [routerLink]="['/.']">Return</a></li>
            <li><a [routerLink]="['/.']">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <ul class="footer-link ">
            <h5>Information</h5>
            <li><a [routerLink]="['/.']"><i class="fas fa-map-marker-alt"></i>UIT, Linh Trung, Thu Duc, HCM </a></li>
            <li><a [routerLink]="['/.']"><i class="fas fa-envelope"></i>0561234562</a></li>
            <li><a [routerLink]="['/.']"><i class="fas fa-phone"></i>limasshop@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-mail text-center">
    <h1>Let's Keep in Touch</h1>
    <p class="text-small">Subscribe to our newsletter & sales</p>
    <div class="d-flex nowrap justify-content-center">
      <input class="form-control" type="text" placeholder="Enter your email ...">
      <button class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
    </div>
    <p class="text-small mt-4">By signing up you accept with the Limas about<a> Terms of Use</a>, <a>Terms & Conditions</a> and <a>Privacy Notice.</a></p>
  </div>
  <div class="footer-copyright text-center">
<p class="mt-3"> &copy;2021 - Limas | All rights reserved</p>
  </div>
</footer>
