<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
      <div class="col-lg-2 col-sm-10">
        <a class="navbar-brand" [routerLink]="'/home'">Li<span>ma</span>s</a>
      </div>
      <div class="col-lg-0 col-sm-2">
        <button class="navbar-toggler" type="button" (click)="toggleMenuCollap()">
          &#9776;
        </button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" [routerLink]="'/product'"
                routerLinkActive="router-link-active" (click)="isMenuCollapsed = true">PRODUCT</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true">ABOUT LIMAS</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div [ngbCollapse]="isMenuCollapsed" *ngIf="isMenuCollapsed"
          class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="search-bar">
                <input class="form-control" type="text" placeholder="Search ...">
                <a class="nav-link"><i class="fas fa-search"></i></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/product'" routerLinkActive="router-link-active"><i
                  class="fas fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true"><i class="far fa-heart"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/auth'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true"><i class="far fa-user"></i></a>
            </li>
          </ul>
        </div>
        <div [ngbCollapse]="isMenuCollapsed" *ngIf="isMenuCollapsed == false"
          class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item search-bar-toggle">
              <a class="nav-link"><i class="fas fa-search"></i>Search</a>
              <input class="form-control" type="text" placeholder="Search ...">
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/product'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true"><i class="fas fa-shopping-cart"></i>Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true"><i class="far fa-heart"></i>Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/auth'" routerLinkActive="router-link-active"
                (click)="isMenuCollapsed = true"><i class="far fa-user"></i>Account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
</header>
