.bg-gradient {
    background-image: linear-gradient(to bottom right, #ffffff, #e0e0e0);
}

.bg-opacity {
    background: rgba(218, 218, 218, 0.8) !important;
}

.c-pointer {
    cursor: pointer;
}

.c-ban {
    cursor: not-allowed;
}

.top-0 {
    top: 0;
}

.shadow {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

