<div class="container">
    <div class="heading-title my-4">
        <div class="text-center">
          <h4>WISH LIST</h4>
          <hr>
        </div>
      </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span><i class="far fa-times-circle"></i></span></td>
                <td class="d-flex ">
                    <img src="assets/img/loginImg.png" width="100">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="ml-3 text-primary">T-shirt blackpinkinyourarea</a>
                </td>
                <td>$12.2</td>
                <td><button class="btn btn-primary">Add to card</button></td>
              </tr>
              <tr>
                <td><i class="far fa-times-circle"></i></td>
                <td class="d-flex ">
                    <img src="assets/img/loginImg.png" width="100">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="ml-3 text-primary">T-shirt blackpinkinyourarea</a>
                </td>
                <td>$12.2</td>
                <td><button class="btn btn-primary">Add to card</button></td>
              </tr>
              <tr>
                <td><i class="far fa-times-circle"></i></td>
                <td class="d-flex ">
                    <img src="assets/img/loginImg.png" width="100">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="ml-3 text-primary">T-shirt blackpinkinyourarea</a>
                </td>
                <td>$12.2</td>
                <td><button class="btn btn-primary">Add to card</button></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <button class="btn btn-outline-primary float-left"><i class="fas fa-long-arrow-alt-left"></i> Continue shopping</button>
          <button class="btn btn-outline-primary float-right">Go to cart <i class="fas fa-long-arrow-alt-right"></i></button>
    </div>
</div>
