
<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-fashion_113854663.jpg"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-gioi-thieu-thoi-trang-nu_113854788.jpg"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-quang-cao-thoi-trang_113855538.jpg"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-dang-cap_113856147.jpg"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-dep-nhat-hien-nay_113856288.jpg"></ng-template>
  <ng-template carouselSlide><img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-dep-nhat_113856413.png"></ng-template>
</owl-carousel-o>
<div>Some tags after</div>
