.auth-main {
  background-color: $light-green;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  .auth-content {
    margin: 2em 7em;
    padding: 1em 1em;
    background-color: $white;
    top: 50%;
    left: 50%;
    img {
      height: 70vh;
      width: 100%;
    }
    .btn {
      width: 8em !important;
    }
    .form-group {
      padding-right: 2em;
      margin-left: 1em;
      label{
        font-weight: 500;
        color: $font-color;
      }
      .text-field {
        
        position: relative;
        input {
          width: 97%;
          color: $primary;
          font-size: inherit;
          font-family: inherit;
          background-color: transparent;
          border: 1px solid transparent;
          border-bottom-color: $font-color;

          &:focus {
            outline: none;

            ~ span {
              transform: translate(-50%, 0) scaleX(1);
              opacity: 1;
            }
          }

          &::placeholder {
            color: lighten($font-color, 10%);
          }
        }

        span {
          position: absolute;
          bottom: 0;
          left: 45%;
          width: 90%;
          height: 1px;
          opacity: 0;
          background-color: $primary;
          transform-origin: center;
          transform: translate(-45%, 0) scaleX(0);
          transition: all 0.3s ease;
        }
      }
      
    }
  }
}




