header {
  background-color: #fff;
}
.navbar-brand {
  font-family: "Megrim", cursive;
  font-size: 3em !important;
  color: $font-color !important;

  a {
    &:hover {
      cursor: pointer;
    }
  }

  span {
    color: $primary;
  }
}

nav {
  background-color: #fff;
  li {
    a {
      color: $font-color !important;

      &:hover {
        color: $primary !important;
        cursor: pointer;
      }

      i {
        margin-right: 1em;
      }

    }
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
      width: 0px;
      opacity: 0;
      float: right;
      -webkit-transition: width .55s ease;
      -moz-transition: width .55s ease;
      -ms-transition: width .55s ease;
      -o-transition: width .55s ease;
      transition: width .55s ease;
      &:focus, &:active{
        opacity: 100;
        width: 12em;
      }
    }

    &:hover {
      input {
        opacity: 100;
        width: 12em;
      }
    }
  }

  .search-bar-toggle {

    input {
      opacity: 0;
      display: none;
      float: right;
      // -webkit-transition: width .55s ease;
      // -moz-transition: width .55s ease;
      // -ms-transition: width .55s ease;
      // -o-transition: width .55s ease;
      // transition: width .55s ease;
      &:focus, &:active{
        opacity: 100;
        display: block;
      }
    }

    &:hover {
      input {
        opacity: 100;
        display: block;
      }
    }
  }

  .dropdown-toggle::after {
    content: none;
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        display: flex;
        width: 40em;
        flex-wrap: wrap;
      }
    }

    .dropdown-menu.show {
      display: flex;
      width: 150%;
      flex-wrap: wrap;
    }

    .dropdown-item {
      width: 20%;
    }
  }
}
