<div class="container py-4 mb-4">
  <div class="heading-title my-4">
    <div class="text-center">
      <h4>ABOUT US</h4>
      <hr>
    </div>
  </div>
  <div class="row">
  <div class=" col-lg-6 ">
    <img class="card-img-top" src="https://product.hstatic.net/1000324561/product/trang_t0394___1__dfc0a3bb8eaa416f827c81a9fa383633_2048x2048.jpg" alt="Linh">
    <div class="card-body">
      <h4 class="card-title">Linh Pham</h4>
      <h6 class="card-subtitle mb-2 text-muted">Thu Duc, Ho Chi Minh, Viet Nam</h6>
      <p class="card-text">We are here to introduce our new online store, curated by our team, made it easier than ever and brought true value of convenience to you. This is meant for you to dress happily in a blink of an eye while enjoying the total freedom to be yourself.</p>
      <div class="text-right"><a href="https://www.facebook.com/phamlinh1442" class="btn btn-outline-primary mt-2">View More <i class="fas fa-long-arrow-alt-right"></i></a></div>
    </div>
  </div>
  <div class=" col-lg-6 ">
    <img class="card-img-top" src="https://product.hstatic.net/1000324561/product/do_t0422_ty___3__e1e0f840414443e09ac8133322a992d4_2048x2048.jpg" alt="Mai">
    <div class="card-body">
      <h4 class="card-title">Mai Nguyen</h4>
      <h6 class="card-subtitle mb-2 text-muted">Thu Duc, Ho Chi Minh, Viet Nam</h6>
      <p class="card-text">Along with our journey, Limas Community is shaped. We’ve got to meet talented, youthful, diverse people who value the Viet culture. And you – our customers, who are always supporting and inspiring us to achieve things beyond our limits. That’s what we treasure the most.</p>
      <div class="text-right"><a href="https://www.facebook.com/nvsmai.ne" class="btn btn-outline-primary mt-2">View More <i class="fas fa-long-arrow-alt-right"></i></a></div>
    </div>
  </div>
  </div>

</div>
