<div class="container py-4 mb-4">
  <div class="heading-title my-4">
    <div class="text-center">
      <h4>ABOUT US</h4>
      <hr>
    </div>
  </div>
<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-6">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/avatar.png" alt="" width="50%" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h4 class="mb-0">Mai Nguyen</h4><span class="small text-uppercase text-muted">CEO - Founder</span>
              <ul class="icon-social d-flex justify-content-center p-0 ">
                <li><a [routerLink]="['/.']"><i class="fab fa-facebook d-flex justify-content-center p-2 "></i></a></li>
                <li><a [routerLink]="['/.']"><i class="fab fa-instagram d-flex justify-content-center p-2"></i></a></li>
                <li><a [routerLink]="['/.']"><i class="fab fa-twitter d-flex justify-content-center p-2"></i></a></li>
                <li><a [routerLink]="['/.']"><i class="fab fa-pinterest d-flex justify-content-center p-2"></i></a></li>
              </ul>
          </div>
      </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-6 col-sm-6 mb-6">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets/img/avatar2.jpg" alt="" width="50%" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h4 class="mb-0">Linh Pham</h4><span class="small text-uppercase text-muted">CEO - Founder</span>
                <ul class="icon-social d-flex justify-content-center p-0 ">
                  <li><a [routerLink]="['/.']"><i class="fab fa-facebook d-flex justify-content-center p-2 "></i></a></li>
                  <li><a [routerLink]="['/.']"><i class="fab fa-instagram d-flex justify-content-center p-2"></i></a></li>
                  <li><a [routerLink]="['/.']"><i class="fab fa-twitter d-flex justify-content-center p-2"></i></a></li>
                  <li><a [routerLink]="['/.']"><i class="fab fa-pinterest d-flex justify-content-center p-2"></i></a></li>
                </ul>
            </div>
        </div><!-- End -->



    </div>
</div>
</div>
