<div class="heading-title my-4">
  <div class="text-center">
    <h4>PRODUCTS</h4>
    <hr>
  </div>
</div>
<div class="container py-4 mb-4">
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <div class="product-category">
        <h6 class="product-category-name d-flex justify-content-center">DANH MỤC SẢN PHẨM</h6>
        <ul class="product-category-list">
          <li><a href=""> Hàng mới về (12) </a></li>
          <li><a href=""> Giảm giá (12) </a></li>
          <li><a href=""> Váy/Jumpsuit (12) </a></li>
          <li><a href=""> Áo (12) </a></li>
          <li><a href=""> Chân váy (12) </a></li>
          <li><a href=""> Phụ kiện (12) </a></li>
        </ul>
      </div>
      <div class="product-filter">
        <h6 class="product-filter-name d-flex justify-content-center">LỌC THEO GIÁ</h6>

      </div>
      <div class="product-offer">
        <h6 class="product-offer-name d-flex justify-content-center">SẢN PHẨM</h6>
        <div class="col-lg-12" width="100%">
          <div class="product-offer-card row">
            <div class="col-lg-4">
              <img src="assets/img/productImg.png" alt="" width="130%" height="100%">
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center">
              <h6>Croptop Teenager</h6>
              <p><del>480.000đ</del> 350.000đ</p>
            </div>
          </div>
          <div class="product-offer-card row">
            <div class="col-lg-4">
              <img src="assets/img/productImg.png" alt="" width="130%" height="100%">
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center">
              <h6>Croptop Teenager</h6>
              <p><del>480.000đ</del> 350.000đ</p>
            </div>
          </div>
          <div class="product-offer-card row">
            <div class="col-lg-4">
              <img src="assets/img/productImg.png" alt="" width="130%" height="100%">
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center">
              <h6>Croptop Teenager</h6>
              <p><del>480.000đ</del> 350.000đ</p>
            </div>
          </div>
          <div class="product-offer-card row">
            <div class="col-lg-4">
              <img src="assets/img/productImg.png" alt="" width="130%" height="100%">
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center">
              <h6>Croptop Teenager</h6>
              <p><del>480.000đ</del> 350.000đ</p>
            </div>
          </div>
          <div class="product-offer-card row">
            <div class="col-lg-4">
              <img src="assets/img/productImg.png" alt="" width="130%" height="100%">
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center">
              <h6>Croptop Teenager</h6>
              <p><del>480.000đ</del> 350.000đ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-12">
      <div class="row product-sort d-flex justify-content-between">
        <h6>Hiển thị 1-9 trong 40 kết quả</h6>
        <div>
          <form>
            <select name="city" class="custom-select mb-3">
              <option selected disabled value="">Thứ tự sắp xếp</option>
              <option>Giá tăng dần</option>
              <option>Giá giảm dần</option>
            </select>
          </form>
        </div>
      </div>
      <div class="row product-card">
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
        <div class="product-card-detail col-lg-4 col-sm-6">
          <img src="assets/img/productImg.png" alt="" height="85%" width="100%">
          <div class="product-card-detail-infor ">
            <h6 class="d-flex justify-content-center">Croptop </h6>
            <p class="d-flex justify-content-center">180.000đ</p>
          </div>
        </div>
      </div>
      <div class="pagination d-flex justify-content-center">
        <nav>
          <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
            <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#" data-abc="true">1</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true">2</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true">3</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true">4</a></li>
            <li class="page-item"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>



  </div>
